Repository Azure/NoOpsAccelerator, pull requests merged in 2022-10, with the labels that each got.

#92 MERGE: Restructured Management Groups
  src/bicep/overlays/management-groups/media/mgExampleManagementStructure.png
  src/bicep/overlays/management-groups/parameters/deploy.parameters.json
  src/bicep/overlays/management-groups/readme.md
Labels: documentation, bicep, public

#96 MERGE: Updated FOR Loop for ROLE Overlay
  src/bicep/overlays/roles/deploy.bicep
Labels: bug, bicep, public, overlays, enclaves

#100 MERGE: Updated .bicep Files for NIST R4 and R5
  src/bicep/overlays/Policy/builtin/assignments/policy-nist80053r4.bicep
  src/bicep/overlays/Policy/builtin/assignments/policy-nist80053r4.parameters.json
  src/bicep/overlays/Policy/builtin/assignments/policy-nist80053r5.bicep
  src/bicep/overlays/Policy/builtin/assignments/policy-nist80053r5.parameters.json
Labels: bicep, compliance & security, public, overlays

#129 Telemtry is fixed
  src/bicep/azresources/Modules/Global/partnerUsageAttribution/customer-usage-attribution-management-group.bicep
  src/bicep/azresources/Modules/Global/partnerUsageAttribution/customer-usage-attribution-resource-group.bicep
  src/bicep/azresources/Modules/Global/partnerUsageAttribution/customer-usage-attribution-subscription.bicep
  src/bicep/azresources/Modules/Global/partnerUsageAttribution/customer-usage-attribution-tenant.bicep
  src/bicep/azresources/Modules/Global/partnerUsageAttribution/telemetry.json
  src/bicep/enclaves/enclave-scca-hub1spoke-aks/deploy.bicep
  src/bicep/enclaves/enclave-scca-hub3spoke-aks/deploy.bicep
  src/bicep/overlays/management-services/kubernetesPrivateCluster-Kubnet/deploy.bicep
  src/bicep/platforms/lz-platform-scca-hub-1spoke/deploy.bicep
  src/bicep/platforms/lz-platform-scca-hub-3spoke/deploy.bicep
  src/bicep/platforms/lz-platform-scca-hub-4spoke/deploy.bicep
  src/bicep/workloads/wl-aks-spoke/deploy.bicep
Labels: bug, bicep

#178 MERGE: Broken Link, Fix Deploy Steps
  src/bicep/enclaves/enclave-scca-hub3spoke-aks/readme.md
Labels: documentation
